<%- include('./nav.ejs'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" href="../public/home.css">
    <title>Document</title>
</head>
<body>
  <div class="head">
    <h1>Welcome <%=name%> to Quiz!!</h1>
    <p>Quiz is the premier destination for all your knowledge cravings! QuizzUp is a dynamic and engaging platform that brings together curious minds from all walks of life. Whether you have a burning question or an insatiable thirst for knowledge, Quiz is the place to be.</p>
</div>
   <div class="link">
        <ul>
            <li class="l1"><a href="./post" class="anchor">Post</a></li>
            <li class="l2"><a href="./search" class="anchor">Search </a></li>
        </ul>
    </div>
    
    
</body>
</html>