<%-include('./nav.ejs')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/result.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <p>Answer to the previous question was <%=value%></p><br><br>
        <p>You have attempted all the questions!!</p><br><br>
        <p>Your total Score: <%=mark%>/<%=length%></p><br><br><br>
        <a href="./search">Continue Searching</a>

    </div>
   
   
</body>
</html>