<%-include('./nav.ejs')%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" href="../public/search.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
       
    <form action="/search" method="post" class="form">
        <p>Search</p>
        <input type="text" name="name" placeholder="Search by Name" class="input"><br><br>
        <button class="btn">Go</button><br><br>
        <p class="note">Note: Case-Sensitive<br><%=status%></p>
       
    </form>
    
    
</div>
   
</html>